INTERRUPTED.pth
__pycache__/*
data/*
data/imgs_/*
data/masks_/*
runs/*
!runs/.gitkeep
!checkpoints/.gitkeep
README.md
submit.py
.ipynb_checkpoints/*
.idea/*
utils/__pycache__/*.pyc
unet/__pycache__/*.pyc
utils/__pycache__/data_vis.cpython-38.pyc
utils/__pycache__/dataset.cpython-38.pyc
